@using TM.Domain.ViewModels

@model RoleIndexView

@{
    ViewBag.Title = "工作日誌匯入";
}

<link href="~/ThirdParties/bootstrap-fileinput-master/css/fileinput.min.css" rel="stylesheet" />
<div class="row">
    <h2>
        @ViewBag.Title
    </h2>
</div>
   @*蝦皮拍賣*@

        <fieldset>
            <legend>蝦皮拍賣</legend>
            @using (Html.BeginForm("Shopee", "Export", FormMethod.Post, new { id = "UploadForm", enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label for="number" class="col-sm-4 control-label">蝦皮拍賣</label>
                    <div class="col-sm-8">
                        <input type="file" name="file" id="fileRakuten" />
                        <button type="submit" class="btn btn-default">開始上傳</button>
                        <p class="help-block">註：EXCEL上傳欄位為：訂單編號、訂單狀態、退貨 / 退款狀態、買家帳號、訂單成立時間、買家完成付款時間	、訂單小計 (TWD)、買家支付的運費、訂單總金額、商品資訊、收件地址、收件者姓名、電話號碼、寄送方式、付款方式、最晚出貨日期、包裹查詢號碼、實際出貨時間、訂單完成時間	、買家備註、備註</p>
                        <hr>
                    </div>
                </div>
            }

        </fieldset>



   <div class="form-group col-md-8">
    <form method="post" enctype="multipart/form-data" >
        <input id="file" name="file" type="file" multiple>
    </form>
   </div>

    @section scripts{
        <script src="~/ThirdParties/bootstrap-fileinput-master/js/fileinput.min.js"></script>
        <script src="~/ThirdParties/bootstrap-fileinput-master/js/locales/zh-TW.js"></script>
        <script>
            $(document).ready(function () {
                $('#file').fileinput({
                    language: 'zh-TW',
                    uploadUrl: '@Url.Action("DiaryPost","Export")',
                    allowedFileExtensions: ['jpg', 'png', 'gif'],
                    maxFilePreviewSize: 10240
                });
            });
        </script>

    }
